.signin-component{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--primaryColor);
}

.signin-component > .holder{
    background-color: var(--tertiaryColor);
    height: 60vh;
    width: 25vw;
    margin: auto;
    border-radius: 30px;
    justify-content: center;
}

.signin-component > .holder > .logo{
    width: max-content;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.signin-component > .holder > .logo > picture{
    width: 20rem;
}

.signin-component > .holder > .logo > picture img{
    width: 20rem;
}

.signin-component > .holder > .logo + form{
    width: inherit;
    margin-left: 1rem;
}

.signin-component > .holder > .logo + form > .title{
    margin-left: -1rem;
    display: flex;
    justify-content: center;
    width: inherit;
}

.signin-component > .holder > .logo + form .inputbox{
    position: relative;
    width: 85%;
    margin-top: 1rem;
    margin-left: 1rem;
    border-bottom: 2px solid #202C3F;
}

.signin-component > .holder > .logo + form .inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 15px 5px 0 5px;
}

.signin-component > .holder > .logo + form .inputbox label{
    position: absolute;
    top: 30%;
    left: 5px;
    color: #202C3F;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.5s;
}

.signin-component > .holder > .logo + form .inputbox input:focus ~ label,
.signin-component > .holder > .logo + form .inputbox input:valid ~ label{
    top: -4px;
}

.signin-component > .holder > .logo + form .inputbox ion-icon{
    position: absolute;
    right: 8px;
    top: 20px;
    color:#202C3F;
}

.signin-component > .holder > .logo + form .inputbox + .enter{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.signin-component > .holder > .logo + form .inputbox + .enter > button{
    margin-right: 2rem;
    background-color: #202C3F;
    color: whitesmoke;
    border-radius: 50px;
    border: 0px;
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
}

.signin-component > .holder > .logo + form .inputbox + .enter > button:hover{
    border: 1px solid #202C3F;
    background-color: #7DA9DB;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.signin-component > .holder > .logo + form .inputbox + .enter + .not-account{
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 2.5rem;
}
