
.header-component{
    width: 100vw;
    height: 10vh;
    overflow: auto;
    clear: both;
    background: var(--primaryColor);
    position:fixed;
    margin: 0;
    padding: 0;
    margin-bottom: 15rem;
    z-index: 1;
}

.header-component >picture{
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    float: left;
    width: 15rem;
    height: inherit;
}

.header-component picture > a{
    height: inherit;
    margin-right: 60%;
}

.header-component >picture img{
    overflow: visible;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.header-component >picture img:hover{
    cursor: pointer;
}

.header-component > nav{
    float: right;
    height: 100%;
}
.header-component .nav_box{
    margin-right: 1rem;
    height: 100%;
    width: 100%;
}

.header-component .nav_box ul{
    height: 100%;
    display: flex;
    align-items: center;
}

.header-component ul >li{
    display: inline-block;
    padding: 0 1rem 0 1rem;
    color: var(--tertiaryColor);
    list-style: none;
    font-size: 1.4rem;
}

.header-component ul >li a{
    text-decoration: none;
    color: var(--tertiaryColor);
}

.header-component ul >li a:hover{
    transition: all 0.4s ease;
    color: var(--secondaryColor);
}

.header-component ul >li:hover{
    cursor: pointer;
    transition: all 0.4s ease-in;
    color: var(--secondaryColor);
}

.header-component ul > li:nth-child(4){
    border: 1px solid var(--tertiaryColor);
    border-radius: 5px;
    padding: 1rem;
}

.header-component ul > li:nth-child(4):hover{
    border: 1px solid var(--secondaryColor);
}


/*Logged in user*/

.header-component ul picture{
    width: 4rem;
}

.header-component ul picture img{
    width: inherit;
}