/*Start Main CSS*/

.search-component{
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

.search-component > picture{
    height: 50vh;
    width: 100vw;
}

.search-component > picture >img{
    width: inherit;
    height: inherit;
    object-fit:cover;
    object-position: 0px 50%;
    overflow: hidden;
}

.search-component .center{
    Width: 70%;
    Margin: 0 auto;
}

.search-component .search {
    width: 650px;
    height: 60px;
    margin-top: 3rem;
    background: #444;
    background: rgba(0,0,0,0);
    border-radius:  3px;
    border: 1px solid #202C3F;
}

.search-component .input-container[data-error] input{
    color: #202C3F;
    width: 528px;
    height: 59px;
    padding: 11px 5px;
    float: left;
    background: transparent;
    border: 0;
    border-radius: 3px 0 0 3px;
}

.search-component .button-container{
    width: inherit;
    height: inherit;
    border: 1px solid #202C3F;
}
    
.search-component .search button {
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 59px;
      width: 120px;
      color: white;
      background: #202C3F;
      border: 0 0 1px 0 solid #202C3F;
      border-radius: 0 3px 3px 0;  
}  

.search-component .search button:hover{
    background: #7DA9DB;
    box-shadow: 1px 1px 1px 1px #202C3F;
    transition: all 0.5s ease;
    color: #202C3F;
}
 

#promt{
    Width: 80%;
    font-weight: 600;
    font-size: 60px;
    color: #202C3F;
}

.feed-component{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 3rem;
}

.feed-component .arrow_left{
    position: absolute;
    margin-top: 22rem;
    margin-left: 10rem;
}

.feed-component .arrow_left button{
    background:transparent;
    border: none;
}

.feed-component .arrow_left img{
    width: 10rem;
}

.feed-component .arrow_right{
    position: absolute;
    margin-top: 22.5rem;
    margin-left: 90%;
}

.feed-component .arrow_right button{
    background: transparent;
    border: none;
}

.feed-component .arrow_right img{
    width: 9rem;
}

.feed-component .scrollport{
    width: 70%;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.feed-component .scrollport .indicators{
    position: absolute;
}

.feed-component .indicators h1,h2{
    color:#202C3F;
}

.feed-component .indicators h1{
    font-size: 2.5rem;
}

.feed-component .indicators h2{
    font-size: 1.7rem;
}

.feed-component .indicators .arrow_left{
    position: sticky;
}

.feed-component .container{
    display:inline-flex;
    border-radius: 15px;
    border: 1px solid #202C3F;
}
.feed-component .container:nth-child(n){
    margin: 0;
    padding: 0;
    width: 300px;
    height: 450px;
    margin: 8rem 10rem;
}

.feed-component .holder{
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    position: relative;
}

.feed-component .container picture{
    width:298px;
    height: 200px;
}

.feed-component .container picture img{
    width: inherit;
    height: inherit;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.feed-component .data{
    width: 298px;
    height: 238px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    word-wrap: break-word;
}

.feed-component .data .title{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.feed-component .data .text{
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    height: 180px;
    white-space: normal;
    word-wrap: break-word; 
    text-align: justify;
    overflow-x: hidden;
}

.feed-component .text p{
    font-size: 1.3rem;
}

.feed-component .scrollport img{
    scroll-snap-align: center;
}

/*End Main CSS*/

