/*Start Main CSS*/

.search-component{
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

.search-component > picture{
    height: 50vh;
    width: 100vw;
    z-index: 1;
}

.search-component > picture >img{
    width: inherit;
    height: inherit;
    object-fit:cover;
    object-position: 0px 50%;
    overflow: hidden;
    z-index: 1;
}

.search-component .center{
    Width: 80%;
    Margin: 0 auto;
}

.search-component .search {
    width: 650px;
    height: 60px;
    margin-top: 3rem;
    background: #444;
    background: rgba(0,0,0,0);
    border-radius:  3px;
    border: 1px solid #202C3F;
    display: flex;
}

.search-component .input-container[data-error] input{
    color: #202C3F;
    width: 528px;
    height: 59px;
    padding: 11px 5px;
    float: left;
    background: transparent;
    border: 0;
    border-radius: 3px 0 0 3px;
    display: inline-block;
}



.search-component input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    top: 3px;
    margin-right: 10px;
    border-radius: 50%; /* Hace que el borde del checkbox sea circular */
    overflow: hidden; /* Oculta cualquier contenido que desborde del checkbox circular */
  }

.search-component input[type=checkbox]:checked {
    background-color: #202C3F; /* Rellena el checkbox con un color */
}

.search-component input[type=checkbox]:checked::before {
    content: '\2713';
    font-size: 14px;
     color: #202C3F; 
    position: absolute;
    top: -1px;
    left: 2px;
    border-radius: 50%; /* Hace que el checkmark sea circular */

  }
  


  .boton-salir {
    background-color: #202C3F;
    color: #FFFFFF;
    font-size: 0.75em;
    padding: 0.375em 0.75em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    width: 50%;
  }
  

  .popup-cont-container {
    position: relative;
  }

  .popup-cont-cont .popup button.active {
    background-color: #202C3F;
    color: whitesmoke;
  }

  .popup-cont-cont .popup button.inactive {
    background-color: #7DA9DB;
    color: whitesmoke;
  }

  
  
  .popup {
    border: 1px solid #202C3F;
    padding: 20px;
    border-radius: 5px;
    width: 44.5%;
    top: -200px; /* ajustar este valor según sea necesario */
    left: 0;
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .checkbox {
    padding: 10px;
    border-radius: 5px;
  }
  
  .checkbox-container {
    display: block;
    margin-bottom: 10px;
  }
  
  .checkbox-container input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .boton-salir:hover {
    background-color: #7DA9DB;
    transition: background-color 0.5s ease;
}


  .popup.animate__fadeInDown {
    transform: translateY(0); /* Desplazar el popup hacia arriba */
    opacity: 1; /* Aumentar la opacidad para que aparezca */
  }


.search-component .button-containerpop{
    border: 1px solid #202C3F;
    height: auto;
    display: inline-flex;
    
}

.search-component .button-containerpop .button-imagepop {
    height: 100%;
    width: auto;
  }

.search-component .button-container{
    height: inherit;
    border: 1px solid #202C3F;
    display: inline-block;
    float: left;
}
    
.search-component .search button {
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 59px;
      width: 120px;
      color: white;
      background: #202C3F;
      border: 0 0 1px 0 solid #202C3F;
      border-radius: 0 3px 3px 0;  
}   

.search-component .search button:hover{
    background: #7DA9DB;
    box-shadow: 1px 1px 1px 1px #202C3F;
    transition: all 0.5s ease;
    color: #202C3F;
}

.popup-cont-cont .popup button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.popup-cont-cont .popup button:hover {
    background: #7DA9DB;
    box-shadow: 1px 1px 1px 1px #202C3F;
    transition: all 0.5s ease;
    color: #202C3F;
} 

#promt{
    Width: 80%;
    font-weight: 600;
    font-size: 60px;
    color: #202C3F;
}

.feed-component{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 3rem;
    border-radius: 50px;
    border: 1px solid var(--primaryColor);
    padding: 2rem 0;
}

.feed-component .scrollport{
    width: 90%;
    margin: 0 auto;
    margin-bottom: -7rem;
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    padding-left: 8rem;
    -webkit-mask: linear-gradient(90deg,#0000,#000 10% 90%,#0000);
}

.feed-component .scrollport .indicators{
    position: absolute;
}

.feed-component .indicators h1,h2{
    color:#202C3F;
}

.feed-component .indicators h1{
    font-size: 2.5rem;
}

.feed-component .indicators h2{
    font-size: 1.7rem;
}

.feed-component .indicators .arrow_left{
    position: sticky;
}

.feed-component .container{
    display:inline-flex;
    border-radius: 15px;
    border: 1px solid #202C3F;
}
.feed-component .container:nth-child(n){
    margin: 0;
    padding: 0;
    width: 300px;
    height: 450px;
    margin: 8rem 10rem;
}

.feed-component .holder{
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    position: relative;
}

.feed-component .container picture{
    width:298px;
    height: 200px;
}

.feed-component .container picture img{
    width: inherit;
    height: inherit;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.feed-component .data{
    width: 298px;
    height: 238px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    word-wrap: break-word;
}

.feed-component .data .title{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.feed-component .data .text{
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    height: 180px;
    white-space: normal;
    word-wrap: break-word; 
    text-align: justify;
    overflow-x: hidden;
}

.feed-component .text p{
    font-size: 1.3rem;
}

.feed-component .scrollport img{
    scroll-snap-align: center;
}


/*End Main CSS*/

